@model Product
<h1>Thông tin của sản phẩm: </h1>
<p>Id:@Model.Id</p>
<p>Tên:@Model.Name</p>
<p>Mô Tả:@Model.Description</p>
<p>Nhà Tài Trợ:@Model.Supplier</p>
<p>Giá:@Model.Price</p>
<p>Số lượng:@Model.AvailableQuantity</p>
<p>Status:@Model.Status</p>
