
@{
    ViewData["Title"] = "dang_nhap__dang_ki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>dang_nhap__dang_ki</h1>


<!doctype html>
<html lang="en">
<head>
  <title>Webleb</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>

</body>
</html>



